.contact-area p,
.contact-area a,
.address-area p,
.social-area a {
    margin: 0 16px;
    font-size: 18px;
}

.contact-area a,
.address-area .grey,
.social-area .social {
    opacity: 0.6;
}

.contact-area,
.address-area {
    margin-bottom: 36px;
}

.social-area {
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
}

.social-area p {
    margin-bottom: 0;
}

@media only screen and (min-width: 480px) {
    .contact-section {
        display: flex;
        flex-direction: column;
        /* This will push the credits to the bottom */
        justify-content: space-between;
        min-height: calc(100dvh - 70px);
    }

    .contact-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-content: center center;
        width: 60%;
        margin: 0 auto;
    }

    .contact-grid>div:nth-child(2) {
        justify-self: end;
    }

    .enquiries {
        margin-top: 0;
    }

    .find-us-margined {
        margin-bottom: 16px !important;
    }

}
