* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --yellow-bg: #def203;
  --black-bg: #000000;

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 16px;
}
