.desktop-menu {
    /* Hide by default */
    display: none;
    position: absolute;
    top: 0;
    right: -6px;
    /* padding: 20px;  */
    padding: 20px 0 20px;
}

.desktop-menu a {
    /* margin-right: 36px; */
    margin-right: 16px;
}

.desktop-menu-item {
    /* or inline-block, depending on your design */
    display: block;
    /* Adjust spacing between menu items */
    margin: 0 10px;
    /* Set text color */
    color: #FFF;
    text-decoration: none;
}

.desktop-menu-item:hover {
    color: var(--yellow-bg);
}

@media (min-width: 481px) {
    .desktop-menu {
        /* Show the menu as a flex container on larger screens */
        display: flex;
        /* Center items vertically */
        align-items: center;
    }
}
