.hamburger-menu {
    /* Ensure this is higher than the sidebar */
    z-index: 999;
    /* Adjust the width as needed */
    width: 40px;
    /* Adjust the height as needed */
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 16px;
    position: fixed;
    top: 10px;
    right: 10px;
}

.hamburger-menu .line {
    width: 100%;
    /* Adjust thickness of the lines */
    height: 6px;
    /* Adjust color as needed */
    background-color: #333;
    /* Smooth transition for animations */
    transition: all 0.3s ease;
}

/* Optional: Add hover effect */
.hamburger-menu:hover .line {
    /* Change color on hover */
    background-color: #333;
}

.hamburger-menu .line.hidden {
    display: none;
}


@media only screen and (min-width: 480px) {
    .hamburger-menu {
        /* Use !important to override inline styles if necessary */
        display: none !important;
    }
}
