.selected-clients {
    margin-bottom: 120px;
}

.works-list {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
    margin-bottom: 46px;
}

.work-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.work-box-image img {
    position: relative !important;
}

.selected-clients-logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-content: center center;
    margin: 0 16px;
    gap: 10px;
}

.selected-clients-logos-image img {
    position: relative !important;
    padding: 10px;
}

@media only screen and (min-width: 480px) {
    .works-section {
        min-height: calc(100dvh);
        display: flex;
        flex-direction: column;
        /* This will push the credits to the bottom */
        justify-content: space-between;
    }

    .works-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-content: center center;
        gap: 16px;
        row-gap: 10px;
    }

    .work-box {
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }

    .work-title {
        margin-top: 10px;
    }

    .selected-clients p {
        font-size: 36px;
    }

    .selected-clients-logos {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        place-content: center center;
        /* Check this for sizing logos */
        margin: 0;
    }

    .selected-clients-logos-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 10px;
    }

    /* .selected-clients-logos-image img {
        width: 100%;
        height: auto;
    } */
}
