.header-picture {
    /* position: relative; */
    width: 100vw;
    /* overflow: hidden; */
}

.header-picture img {
    position: relative !important;
}

.working-title {
    font-weight: 400;
    font-size: 56px;
    margin: 16px;
    line-height: 60px;
}

.work-intro div img {
    margin-left: 16px;
}

.work-intro p:first-child {
    font-size: 24px;
    line-height: 32px;
}

/* .work-labels, */
.accordion-labels {
    margin: 50px 0;
}

.accordion-labels div p,
.accordion-grid p {
    margin: 0;
}

.greyed-out {
    opacity: 0.6;
}

.work-labels {
    margin-top: 13px;
}

.work-labels p {
    margin: 0px 16px;
    opacity: 0.6;
}


.work-label {
    opacity: 1 !important;
}

.work-images {
    margin: 16px 16px 50px;
    display: grid;
    grid-template-rows: auto;
    gap: 16px;
}

.work-images img,
.video-container img {
    position: relative !important;
}

.previous-edition-section,
.related-projects-section {
    margin: 16px;
}

.header-picture-accordion img {
    position: relative !important;
}

.previous-edition-section h2,
.related-projects-section h2 {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 20px
}

.related-projects-section h2 {
    font-size: 20px;
}

.related-projects-section>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    place-content: center center;
}

.related-box {
    display: flex;
    flex-direction: column;
}

.related-project img {
    position: relative !important;
}

.accordion-title {
    font-size: 21px;
}

.related-title {
    font-weight: 600;
    font-size: 14px;
}

/* Accordion */
.accordion-item {
    border-bottom: 1px solid rgb(204, 204, 204, 1);
    margin: 10px 10px 10px 0;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.accordion-title {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no-linker {
    cursor: default;
}

.accordion-content {
    margin-top: 10px;
}

.accordion-content>p {
    margin: 16px 0;
}

.accordion-image-container {
    display: grid;
    row-gap: 16px;
    margin-bottom: 40px;
}

.accordion-content .work-labels p {
    margin: 0;
}

.accordion-image-container img {
    position: relative !important;
}

@media only screen and (min-width: 480px) {
    .header-picture {
        height: 100vh;
        margin-bottom: 100px;
    }

    .video-container {
        margin-bottom: 100px !important;
    }

    .working-title {
        position: absolute;
        top: 80px;
        /* left: 16px; */
        font-size: 65px;
        font-weight: 400;
    }

    .work-labels p {
        margin: 0;
    }

    .work-intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin: 50px auto;
        gap: 16px;
    }

    .work-intro p {
        font-size: 16px;
        margin-left: 0;
    }

    .work-intro div img {
        margin-left: 0;
    }

    .work-intro p:first-child {
        font-size: 28px;
    }

    .accordion-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 50px;
    }

    .accordion-grid p {
        margin: 0;
    }

    .work-labels {
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
    }

    .accordion-labels {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 0 30%;
    }

    .work-images {
        width: 80%;
        margin: 50px auto;
        grid-template-columns: 1fr 1fr;
    }

    .previous-edition-section,
    .related-projects-section {
        width: 80%;
        margin: 100px auto;
    }

    .accordion-title {
        font-size: 42px;
        font-weight: 400;
    }

    .accordion-image-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }

    .related-projects-section h2 {
        font-size: 42px;
        font-weight: 400;
        margin-bottom: 25px;
    }

    .previous-edition-section h2 {
        font-size: 21px;
        font-weight: 600;
    }

    .related-box {
        height: 100%;
        margin-bottom: 0;
        width: 100%;
    }

    .related-project {
        overflow: hidden;
    }

    .related-project img {
        position: relative !important;
        transition: transform 0.3s ease-in-out;
    }

    .related-project a img:hover {
        transform: scale(110%);
    }

    .related-title {
        font-size: 18px;
        margin-top: 10px;
    }

    .related-project:hover+.related-title,
    .related-title:hover {
        color: var(--yellow-bg)
    }
}
