.network-h1 {
    font-size: 65px;
    font-weight: 400;
    margin: 16px;
}

.network-quote p {
    font-size: 46px;
    line-height: 45px;
}

.network-quote {
    margin: 30px 0;
}

@media only screen and (min-width: 480px) {

    .network-page {
        display: flex;
        flex-direction: column;
        /* This will push the credits to the bottom */
        justify-content: space-between;
        min-height: 100dvh;
    }

    .network-intro-p {
        width: 40%;
    }

    .network-quote p {
        font-size: 65px;
        line-height: 70px;
    }

    .network-h1 {
        margin-top: 80px;
    }

    .our-network-container {
        max-width: auto;
    }
}
