.sidebar {
    position: fixed;
    top: 0;
    /* Start off the screen */
    right: -75%;
    width: 75%;
    height: 100%;
    /* Or any color you prefer */
    background-color: var(--yellow-bg);
    transition: right 0.3s ease;
    z-index: 998;
}

.sidebar.open {
    /* Bring onto the screen */
    right: 0;
}

.sidebar .menu {
    /* margin-left: 20px; */
    margin-top: 50px;
}

.menu-item {
    display: block;
    /* Font items */
    font-size: 50px;
    font-weight: 200;
    /* Space between items */
    /* padding-bottom: 10px;  TOO BIG*/
    /* padding-bottom and margin-top has to be equal */
    padding-bottom: 7px;
    margin: 7px 16px;
    /* White line under each item */
    border-bottom: 2px solid white;
    /* Padding for the bottom border */
    /* padding-bottom: 20px; */
    /* Adjust the color as needed */
    color: #000;
    /* Removes underline from links */
    text-decoration: none;
    /* Remove right margin from p default*/
    margin-right: 0;
}

.menu-item:active {
    color: #ffffff;
}

.no-line {
    /* No white line under this item */
    border-bottom: 0px solid white;
}

.social-media {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.social-media p {
    margin: 0;
}

.social-link {
    display: block;
    /* Adjust the color as needed */
    color: #00000081;
    /* Removes underline from links */
    text-decoration: none;
    /* Space between social media links */
    margin-bottom: 5px;
}

.follow-us {
    margin-bottom: 5px !important;
    /* Adjust the color as needed */
    color: #000;
}

.social-link,
.follow-us {
    font-size: 18px;
}


@media only screen and (min-width: 480px) {
    .sidebar {
        /* Use !important to override inline styles if necessary */
        display: none !important;
    }
}
