@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

.animated-word {
    /* display: inline-block; */
    overflow: hidden;
}

.slide-up {
    animation: slideUp 0.5s forwards;
}

.slide-down {
    animation: slideDown 0.5s forwards;
}

.animated-line {
    margin-bottom: 108px;
}

.animated-line p {
    font-size: 46px;
    line-height: 45px;
}

.intro p {
    font-size: 26px;
}

.main-text {
    margin: 48px 0;
}

p {
    font-size: 20px;
    margin-bottom: 16px;
}

.subheader {
    font-weight: 800;
    margin-top: 36px;
}

/* .main-text div {
    margin: 20px 0;
}

.main-text {
    font-size: 20px;
} */

@media only screen and (min-width: 480px) {
    .animated-line {
        margin-top: 100px;
    }

    .animated-line p {
        font-size: 500%;
        line-height: 70px;
    }

    .why-us-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* Adjust the gap as needed */
        gap: 20px;
    }

    .main-text {
        margin: 0;
        width: 70%;
    }

    .intro p {
        font-size: 46px;
        width: 80%;
        line-height: 45px;
    }

    .subheaders>div {
        display: grid;
        /* Stack subheader and paragraphs vertically */
        grid-template-columns: 50% 50%;
    }

    .subheader {
        opacity: 0.7;
        font-weight: 400;
        justify-self: end;
        margin-top: 16px;
        margin-right: 200px;
    }
}
