@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: transparent;
    }

    to {
        border-right-color: initial;
    }
}

.animated-line {
    margin-top: 16px;
}

.network-quote p,
.animated-line p {
    margin: 0 16px;
}

.animated-word {
    display: flex;
    flex-direction: row;
    margin: 0 16px !important;
    /* Cursor */
    white-space: nowrap;
    /* Keep the text in one line */
    overflow: hidden;
    /* Hide overflow */
    animation: blinkCursor 500ms steps(44) infinite normal;
}

.animated-word p {
    margin: 0;
}

.animated-line p {
    font-size: 46px;
    line-height: 45px;
}

.intro p {
    font-size: 26px;
}

.main-text {
    margin: 48px 0;
}

p {
    font-size: 20px;
    margin-bottom: 16px;
}

.subheader {
    font-weight: 800;
    margin-top: 36px;
}

@media only screen and (max-width: 480px) {
    .fixed-animated-container {
        margin-top: 20%;
    }
}

@media only screen and (min-width: 480px) {
    .animated-line {
        margin: 120px 0;
    }

    .animated-line p {
        font-size: 500%;
        line-height: 70px;
    }

    .why-us-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* Adjust the gap as needed */
        gap: 20px;
    }

    .main-text {
        margin: 0;
        width: 70%;
    }

    .main-text p {
        margin-left: 0;
        font-size: 19px;
    }

    .intro p {
        font-size: 46px;
        width: 80%;
        line-height: 45px;
        font-weight: 200;
    }

    .subheaders>div {
        display: grid;
        /* Stack subheader and paragraphs vertically */
        grid-template-columns: 50% 50%;
    }

    .subheader {
        opacity: 0.7;
        font-weight: 400;
        justify-self: end;
        margin-top: 16px;
        margin-right: 200px;
    }
}
